# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Datasets (Too large for GitHub)
GTSRB.zip
/train/
/test/
/Test.csv
/Meta.csv

# Saved Models
*.h5
*.keras

# Virtual Env
venv/
env/

# IDE settings
.vscode/
.idea/
